textarea{ 
  resize:none;
}

#preview{
height: 370px;

}

#table_users{
  min-height: 450px;
}

#json_box{
  height: 265px;
}

#add_news{ 

  width: 600px;
  height: 125px;


}

#news{
  padding-left: 5px;
  padding-top: 15px;
  padding-right: 10px;
  border-radius: 10px;
   background-color: #444;
}


#ajouter_news{ 

  width: 600px;

  margin: 0;

  margin-left: auto;
  margin-right: auto;

}

#ajouter_news h1{ 
  text-align: center;

}

#table_users input{
  width: 70px;

}


#formu{ 

 /* text-align: justify;*/
 width: 435px;
 padding: 0 0 0px 220px;

 margin: 0;
 float: left;

 
}

#generale { 
 
  width: 500px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  
/*  background: #4d4d4d;*/
/*  background-image:url('../img/wood15.png');*/

}

#preview { 
 
  width: 500px;
  overflow: hidden;
  margin: 4px auto 0 auto;
/*  background: #4d4d4d;*/
/*  background-image:url('../img/wood15.png');*/

}

#bloc{
      color : #CCC;
  /* background-color: #FFF;*/
     display: block;

  float: right; 
  width: 180px; 
  height: 650px;

  margin-top: 25px;
  margin-right: 50px; 
  margin-left: auto;
  margin-bottom: 25px;
 
  background-image: url('../images/wood69.jpg');
  border-radius:5px 5px 5px 5px;


}

#envie_bouton{
/*  background-color: #FFF;*/
     display: block;
     width: 60px; 
    height: 45px;
    margin-top: 10px;
    margin-left: 890px;
}

#pub{

    color : #FFF;
   background-color: #ccc;
     display: block;

/*  float: right; */
  width: 180px; 
  height: 200px;

/*  margin-top: 25px;
  margin-right: 50px; 
  margin-left: auto;
  margin-bottom: 25px;
 
  background-image: url('../images/wood69.jpg');*/
  border-radius:5px 5px 5px 5px;

}
#choix{

 /*   color : #FFF;*/
   background-color: #000;
     display: block;

/*  float: right; */
  width: 180px; 
  height: 275px;

/*  margin-top: 25px;
  margin-right: 50px; 
  margin-left: auto;
  margin-bottom: 25px;
 
  background-image: url('../images/wood69.jpg');*/
  border-radius:5px 5px 5px 5px;

}

#option{

line-height:50px;
    color : #FFF;
   background-color: #666;
     display: block;

/*  float: right; */
  width: 180px; 
  height: 50px;

/*  margin-top: 25px;
  margin-right: 50px; 
  margin-left: auto;
  margin-bottom: 25px;
 
  background-image: url('../images/wood69.jpg');*/
  border-radius:5px 5px 5px 5px;

}
#menu{
  visibility: hidden;
    color : #FFF;
   background-color: #444;
     display: block;

/*  float: right; */
  width: 180px; 
  height: 250px;

/*  margin-top: 25px;
  margin-right: 50px; 
  margin-left: auto;
  margin-bottom: 25px;
 
  background-image: url('../images/wood69.jpg');*/
  border-radius:5px 5px 5px 5px;

}

div.search {
  padding-left: 35px;
  width: 300px;
  height:45px;
  /*border:1px solid black;*/
  margin-left: 690px;
  color:#1C1C1C;
  font-size: 14px;
}
div.search input {
  width: 130px;
 
}

/*input[type="text"] {
  display: block;
  margin : 0 auto;

}
*/
#table_users{ 

  width: 600px;

  margin: 0;

  margin-left: auto;
  margin-right: auto;

}

#table_users h1{ 
  text-align: center;

}

table {
  border : medium solid #000000;
  width : 50%;
}

td, th {
  border : thin solid #1C1C1C;
  width : 50%;
  color : #E6E6E6;
  padding: 5px;
}

.principal input:not([type="checkbox"]) {
  width: 205px;

}

#envoyer{
  width:72px;
}

#sidebar_news { 
  float: left;
  width: 450px;
  padding: 0;
  height: 1197px;
  border-radius:10px 0 0 0;
  
}

#main{
  border-radius: 10px 10px 0 0 ;
}


.titre_01 {

  width:316px;
  height: 100px;
  font-size: 35px;
  font-family:'Masked Marvel'; 
  color: #FFF;

}

.titre_02 { 
  font-size: 32px;
  font-family:'Masked Marvel'; 
  font: normal 125% 'mask',normal 150% 'News Cycle', arial, sans-serif;
  color: #FFF; 
  margin-bottom: 5px;
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
}



.colonne { 
  width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  background: #4d4d4d;
  background-image:url('../img/wood15.png');
  border-top: 0;
  border-bottom: 0;
  margin-left: auto;
  margin-right:auto;
  border-radius: 10px 10px 0 0;

 /* border: 30px solid transparent;
  padding: 20px;
  border-image: url("../images/wood15.jpg") 30;*/

}

.colonne img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}


.colonne h1 { 
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  font-family:'Masked Marvel'; 
  font: normal 125% 'mask',normal 150% 'News Cycle', arial, sans-serif;
  color : #1C1C1C;
}
.colonne h2 { 
  text-align: center;
  font-size: 25px;
  font-family:'Masked Marvel'; 
  font: normal 125% 'mask',normal 150% 'News Cycle', arial, sans-serif;
  color:  #1C1C1C;

}


.comics { 
  float: left; 
  width: 217px; 

  margin-right: 10px; 
  margin-left: 10px;
  margin-bottom: 25px;
  background-color: #1C1C1C;
  /*background-image: url('../images/wood69.jpg');*/
  border-radius:5px 5px 5px 5px;
}

.comics img {
  display: block;
  border-bottom: 45;
  margin-left: auto;
  margin-right: auto;

}

a.more { 
  display: block; 
  width: 104px; 
  height: 31px; 
  padding-top: 8px; 
  text-align: center; 
  text-decoration: none; 
  font-weight: bold; 
  margin-bottom: 5px;
  margin-top: 5px;

}

img { border: none; }

#content h1{
  text-align: center ;
}

.image h1{
 text-align: center ;
}

.image img { 

  margin-right : 32px; 
  margin-left : 38px; 
  margin-bottom : 48px; 
  margin-top : 0px; 
}

#content2 h1{
  text-align: center ;
  text-decoration: underline;
}

#content2 h3{
  text-decoration: underline;
}

#content2{ 

  text-align: justify;
  width: 550px;
  padding: 0 0 5px 30px;
  margin: 0;
  float: left;
  
}

#formulaire{ 

 /* text-align: justify;*/
 width: 550px;
 height: 450px;
 padding: 0 0 0px 220px;
 margin: 0;
 float: left;

 
}
#formulaire h1{ 

  text-align: center ;
}



#content2 img{ 
  border: 15px;
  
}

#sidebar_container2 { 
  float: left;
  width: 300px;
  padding: 0;
  height: 450px;
}

label
{
  display: block;
  width: 200px;
  float: left;
}

#link:hover
{
  color: #FFF;

}
a{
  font: normal 'News Cycle', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

#case 
{
 width: 45em;
/*border: #656565 2px solid;
border-radius: 10px;
border-spacing: 20px;
padding: 5px;
display: table;
background-color:#EFEACC;*/
}



h2{

  font: normal 200% 'News Cycle', arial, sans-serif;
  color: #FFF;
  text-align: center;
}
/*Liongeek part*/

@font-face { 
  font-family: News Cycle; 
  src: url('../fonts/NewsCycle-Regular.eot'); 
  src: local("News Cycle"), url('../fonts/NewsCycle-Regular.ttf'); 
} 

html { 
  height: 100%;
}

* { 
  margin: 0;
  padding: 0;
}

/*--------*/

article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
  font: normal .85em arial, sans-serif;
  background: #262626; 
  color: #BBB;
  padding-bottom: 40px;
}

p { 
  padding: 0 0 20px 0;
  line-height: 1.5em;
}

img { 
  border: 0;
}

h1, h3, h4, h5, h6 { 
  font: normal 200% 'News Cycle', arial, sans-serif;
  color: #FFF;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
}

h3 { 
  font: normal 125% 'trebuchet ms', arial, sans-serif;
}

h4, h5, h6 { 
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 110% arial, sans-serif;
  color: #BBB;
  line-height: 1.5em;
}

h5, h6 { 
  font: italic 95% arial, sans-serif;
  color: #888;
  padding-bottom: 15px;
}

h6 { 
  color: #362C20;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 0 0; 
  padding: 0 0 4px 5px;
}

ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}

#main, header, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

#main { 
  width: 1050px;
  margin: 20px auto 0 auto;
}

header { 
  width: 950px;
  height: 105px;
}

#logo { 
  width: 220px;
  float: left;
  height: 100px;
  background: transparent;
  padding: 0 0 10px 10px;
}

#logo h1 { 
  font: normal 330% 'News Cycle', arial, sans-serif;
  padding: 37px 0 0 17px;
  color: #FFF;
  letter-spacing: -2px;
}

#logo h1 a { 
  color: #999;
  text-decoration: none;
}

#logo h1 a:hover { 
  color: #FFF;
  text-decoration: none;
}

nav { 
  height: 26px;
  width: 720px;
  margin: 1px auto 0 auto;
  float: right;
  padding: 35px 0 0 0;
} 

#site_content { 
  width: 950px;
  overflow: hidden;
  margin: 4px auto 0 auto;
  padding: 0;
  background:url(../img/wood69.png) #333;
  border-top: 0;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
} 

#sidebar_container { 
  float: left;
  width: 450px;
  padding: 0;
  height: 450px;
  border-radius:10px 0 0 0;

}

#sidebar_container img{
  border-radius: 10px 0 0 0;
}

#content { 
  text-align: justify;
  width: 444px;
  padding: 0 0 5px 30px;
  margin: 0;
  float: left;
}

#content h1{
  text-decoration: underline;
}

#content ul { 
  margin: 2px 0 5px 0px;
}

#content ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat left center;
  margin: 0 0 0 0; 
  padding: 2px 0 2px 28px;
  line-height: 1.5em;
}

#blog_container h4 {
  font: normal 170% 'News Cycle', arial, sans-serif;
  margin: 0 0 15px 0;
  padding: 5px 0;}

  #blog_container h4.select {
    width: 475px;}

    .blog {
      background: url(../images/calendar.png) no-repeat;
      width: 54px;
      height: 46px;
      float: left;
      margin: 0 15px 0 0;
    }

    .blog h2 {
      font: normal 90% arial, sans-serif;
      text-shadow: none;
      text-align: center;
      margin: 0;
      padding: 4px 0 0 0;
      color: #FFF;
    }

    .blog h3 {
      font: 140% arial, sans-serif;
      text-shadow: none;
      margin: -15px 0 0 0;
      text-align: center;
      color: #222;
    }

    footer { 
      width: 950px;
      font: normal 140% 'News Cycle',  arial, sans-serif;
      height: 90px;
      padding: 20px 0 5px 0;
      text-align: center; 
      color: #FFF;
      background: #1C1C1C;/*#444;*/
      border-radius: 0 0 10px 10px;
      background-image: url('images/hulk1.jpg');
    }

    footer p { 
      padding: 0 0 10px 0;
    }

    footer a, footer a:hover { 
      color: #FFF;
      text-decoration: none;
    }

    footer a:hover { 
      color: #FFF;
      text-decoration: underline;
    }

    .form_settings { 
      margin: 0;
    }

    .form_settings p { 
      padding: 0 0 10px 0;
    }

    .form_settings span { 
      padding: 5px 0; 
      float: left; 
      width: 170px; 
      text-align: left;
    }

    .form_settings input, .form_settings textarea { 
      padding: 4px; 
      width: 252px; 
      font: 100% arial, sans-serif;
      border: 0;
      border-bottom: 1px solid #DDD; 
      background: transparent;
    }

    .form_settings .submit { 
      font: 140% 'News Cycle', arial, sans-serif; 
      border: 0; 
      width: 100px; 
      margin: 0 0 0 162px; 
      height: 30px;
      padding: 0 0 6px 0;
      cursor: pointer; 
      border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      background: #444;
      text-shadow: 1px 1px #000;
      color: #FFF;
      line-height: 15px;
    }

    .form_settings textarea, .form_settings select { 
      font: 100% 'trebuchet ms', arial, sans-serif; 
      border: 1px solid #DDD; 
      border-radius: 6px 6px 6px 6px;
      -webkit-border-radius: 6px 6px 6px 6px;
      -moz-border-radius: 6px 6px 6px 6px;
      width: 250px;
      overflow: auto;
    }

    .form_settings select { 
      width: 304px;
    }

    .form_settings .checkbox { 
      margin: 4px 0; 
      padding: 0; 
      width: 14px;
      border: 0;
      background: none;
    }

    ul.images {
      list-style:none;
      width:450px;
      height:1340px;
      overflow:hidden;
      position:relative;
      margin:0;
      padding:0;
    } 

    ul.images li {
      position:absolute;
      margin:0;
      padding:0;
      left:0;
      right:0;
    }

    ul.images li.show {
      z-index:500;  
    }

    ul img {
      border:none;  
    }

    .lavaLampWithImage {
      position: relative;
      height: 25px;
      padding: 15px 5px 15px 0;
      margin: 10px 0 0 0;
      overflow: hidden;
      float: right;
    }

    .lavaLampWithImage li {
      float: left;
      list-style: none;
    }

    .lavaLampWithImage li.back {
      background: #4d4d4d;
      border-radius: 15px 15px 15px 15px;
      -moz-border-radius: 15px 15px 15px 15px;
      -webkit-border: 15px 15px 15px 15px;
      height: 28px;
      z-index: 8;
      position: absolute;
    }

    .lavaLampWithImage li a {
      font: normal 130% 'News Cycle', sans-serif;
      text-shadow:1px 1px #000;
      text-decoration: none;
      color: #fff;
      outline: none;
      text-align: center;
      letter-spacing: 0;
      z-index: 10;
      display: block;
      float: left;
      height: 30px;
      padding: 0px 9px 0 9px;
      position: relative;
      overflow: hidden;
      margin: auto 10px;    
    }

    .lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
      border: none;
    }
    /* #### Generated By: http://www.cufonfonts.com #### */

    @font-face {
      font-family: 'Masked Marvel';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel'), url('mask.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Rotate';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Rotate'), url('maskr.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Light';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Light'), url('maskl.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Expanded';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Expanded'), url('maske.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Condensed';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Condensed'), url('maskc.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Italic';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Italic'), url('maski.woff') format('woff');
    }


    @font-face {
      font-family: 'Masked Marvel Bold';
      font-style: normal;
      font-weight: normal;
      src: local('Masked Marvel Bold'), url('maskb.woff') format('woff');
    }